header {
  color: #04BF55;
}

#members {
  color: #F2294E;
}

.pub {
  color: #04BF55;
}

.highlight {
  color: #F2B441;
}
body {
padding-left: 50%;
background-color: #0D0D0D;
}

ol {
  color: #F2B441;
}

p {
  color: #F2294E;
}
